.table > tbody > tr > th {
    font-weight: bold;
    border-top: none;
}

.cart-full-totals {
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

.cart-full-actions {
    columns: 2;
}