@import '_variables';

.subtotals {
    border-top: solid 1px $border-color;
    padding: 10px 0 10px 0;
    margin: 0;
}

.totals {
  border-top: solid 1px $border-color;
  padding: 10px 0 10px 0;
  margin: 0;
}

.totals .subtotals {
  row {
    label {
      font-weight: bold;
    }
  }
}

.total {
  font-size: 20px;
  label {
    &:nth-child(2) {
      float:right;
    }
  }
}

.radio {
  border: 1px solid $border-color;
  padding: 15px;

  label {
    &:nth-child(2) {
      float: right;
      font-weight: bold;
      cursor: default;
    }
  }
}