@import '_variables';

.subtotals {
    border-top: solid 1px $border-color;
    padding: 10px 0 10px 0;
    margin: 0;
}

.totals {
    border-top: solid 1px $border-color;
    padding: 10px 0 10px 0;
    margin: 0;
} 