@import '_variables';

.jumbotron {
    @extend .jumbotron;
    background-color: #ebedef;
    margin-top: 40px;
}

.home-header {
    text-align: center;
}

.home-header > a {
    color: $text-color;
    text-decoration: none;
    padding: 0px 2px 0px 2px;
}

.home-header > a:hover {
    color: black;
    text-decoration: none;
}

.home-header-heavy {
    font-size: 9.5rem;
    color: black;
}

.home-header-light {
    font-size: 3.5rem;
    color: black;
    margin-top: -30px;
}