nav {
    @extend nav;
    font-size: 1.75rem;
    font-weight: bold;
}

.navbar-brand {
    @extend .navbar-brand;
    font-size: 2.5rem;
}

#facebook {
    color: #333399;
}

#facebook:hover {
    color: #3E3ED3;
}

#instagram {
    color:#990099;
}

#instagram:hover {
    color: #E100E1;
}

.cart-dropdown {
    width: 400px;
}

.table > tbody > tr > td {
     vertical-align: middle;
     font-weight: normal;
}

.table > tbody > tr > th {
    font-weight: bold;
}

.cart-partial-totals {
    margin-bottom: 22px;
}

.cart-partial-actions {
    columns: 2;
    padding: 8px;
}