nav {
    @extend nav;
    font-size: 1.75rem;
    font-weight: bold;
}

.navbar-brand {
    @extend .navbar-brand;
    font-size: 2.5rem;
}

#facebook {
    color: #333399;
}

#facebook:hover {
    color: #3E3ED3;
}

#instagram {
    color:#990099;
}

#instagram:hover {
    color: #E100E1;
}