@import '_variables';

.product {
    font-size: 1em;
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 10px;
    border: solid 0.5px $panel-default-border;
}

.product-block {
    position: relative;
    margin: 0;
    padding: 5px;
    padding-top: 20px;
}

.product img:first-child {
    display: block;
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.product-title {
    display: inline;
    font-size: 1.2em;
    font-weight: 700;
    padding-left: 10px;
}

.product-price {
    float: right;
    font-size: 1.2em;
    font-weight: 700;
    padding-right: 10px;
}

.product-footer {
    position: static;
    top: 0;
    left: 0;
    padding: 10px 10px;
    color: $text-color;
    border-top: 0.5px solid $panel-default-border;
}

.product-footer-left {
    display: inline-flex;
    width: 62.5%;
    line-height: 31px;
    vertical-align: middle;
}

.product-footer-right {
    text-align: right;
    float: right;
    width: 32.5%;
}

.profile {
    position: absolute;
    top: -15px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 0;
    border: 1px solid $body-bg;
    border-radius: 50%;
}

.profile img:first-child {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

div[alt="itemStore"] {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.5s ease;

}
div[alt="itemStore"]:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}